<ul class="nav nav-list">
  <li class="nav-header">
    Health Guides
  </li>
  <li>
   {{#link-to 'hearts'}}Heart Health Resources{{/link-to}}
  </li>
  <li>
    <a href="#">Weight Management Resources</a>
  </li>
</ul>