<div class='container-fluid'>
    <div class='row-fluid'>
     
       
              

        
         <p>{{heart-body heart=model}}</p>
      
          
          


     
    </div>
  </div>
  <p>{{#link-to 'heart.edit'}} Edit this topic {{/link-to}}</p>

  {{outlet}} 