
<div class="row-fluid">
          <div class="span6">
            <div class="blog-section">
              <div class="blog-icon"></div>
              <div class="blog-content">
                <h3>Blog</h3>
                <p>Find articles on data visualization, best practices and much more on our blog.</p>
                <p><a href="http://blog.fusioncharts.com" target="_blank">FusionCharts Blog &rarr;</a></p>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="tech-query">
            <div class="tech-support-icon"></div>
            <div class="tech-content">
              <p >Got a technical query? Use our Docs/Forum or write directly to our support team.</p>
              <p><a href="http://www.fusioncharts.com/contact/support" target="_blank">Help &amp; Support &rarr;</a></p>
            </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>